{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.body) }}
    <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
